*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-container {
  background-color: rgb(123, 162, 56);
  border-radius: 10px;
  box-shadow: black 2px 2px 1px;
}

.card-img img{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 40px 0px 40px;
}

.card-input{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card-input h4{
  color: white;
  padding-top: 10px;
}

.card-input input{
  height: 40px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
.card-input input::placeholder{
  font-size: 1.4em;
  padding-left: 10px;
}

.card-price{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: left;
  padding-left: 40px;
  padding-top: 20px;
  color: white;
  font-size: 1.4em;
  font-weight: lighter;

}

.card-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card-btn button{
  height: 40px;
  width: auto;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(226, 163, 11);
  color: white;
  font-size: 1.4em;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: black 2px 2px 1px;
}

.resultados {
  background-color: rgb(26, 188, 96);
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.resultado-color{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-circulo{
  background-color: rgb(31, 26, 188);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid black;
}